*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1194px;
    margin: auto;
}
.header {
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.search-form{
    margin-left: 76px;
    background: rgba(238, 238, 238, 0.71);
    border-radius: 10px;
    display: flex;
    max-width: 620px;
    flex-grow: 1;
    position: relative;
}
.search-button{
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 18px 0 18px;
    cursor: pointer;
}
.search-input{
    background-color: transparent;
    border: none;
    width: 92%;
    padding: 13px 20px 13px 20px;
}
.auth {
    margin-left: auto;
}
.login{
    background: #EBEBEB;
    border-radius: 50px;
    padding: 16px 30px;
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
.shopping-cart{
    text-decoration: none;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background: #F66A15;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    position: relative;
}
.shopping-counter{
    position: absolute;
    right: 0;
    bottom: 0;
    background: #FFAF19;
    font-size: 8px;
    line-height: 9px;
    color: #000000;
    display: block;
    padding: 5px;
    border-radius: 50%;
}
.slide{
    overflow: hidden;
    border-radius: 20px;
    min-height: 400px;
    display: flex;
    align-items: center;
    padding: 100px;
    position: relative;
}
.slide-text-light{
    background-color: grey;
    color: white;
}
.slide-title{
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 50px;
    line-height: 51px;
}
.slide-text{
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
}
.button-primary{
    background: #f47322;
    color: white;
}
.button-default{
    cursor: pointer;
    background-color: white;
    color: #5f5f61;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    margin-top: 25px;
}
.button{
    border-radius: 25px;
    padding: 12px 50px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
}
.slide-content{
    max-width: 400px;
    position: relative;
}
.slide-summer{
    background-image: url("../img/summer.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.slide::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%)
}
.promo{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: -20px;
}
.card{
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    padding: 32px;
    flex: 50%;
    margin: 20px;
    max-width: 570px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card::before{
    z-index: -1;
    content: "";
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.card-text-light{
    color: white;
}
.card-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    margin-top: 4px;
    margin-bottom: 21px;
}
.card-description{
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    max-width: 168px;
}
.card-price{
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    margin-bottom: 10px;
}
.card-delivery{
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    margin-top: 20px;
}
.sweet-basket{
    z-index: -2;
    background-image: url("../img/sweer-busket.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.min-effort{
    z-index: -2;
    background-image: url("../img/min-effort.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.delivery-week{
    padding: 100px 0;
}
.section-title{
    font-weight: 500;
    font-size: 32px;
    line-height: 23px;
    margin-bottom: 47px;
}
.delivery-cards{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
.delivery-card{
    margin: 15px;
    width: 275px;
    height: 182px;
    overflow: hidden;
    border-radius: 18px;
    position: relative;
}
.delivery-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.delivery-tag{
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 16px;
    padding: 5px 10px;
    border-radius: 30px;
}
.tag-health{
    background-color: #d0fd89;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #49494F;
}
.tag-vegetbl{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    background-color: #AEBC41;;
}
.tag-meat{
    background: #B86B78;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}
.tag-bird{
    background: #D68334;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}
.tag-fish{
    background: #CD6255;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}
.tag-child{
    background: #FFFDBF;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #49494F;
}
.tag-parent{
    background: #F6FDC8;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #49494F;
}
.tag-holliday{
    background: #FEF7FE;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #49494F;
}
.section-grey{
 background-color:  #F6F6F6;;
}
.category{
    padding-top: 40px;
    padding-bottom: 60px;
}
.tabs{
    display: flex;
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    list-style: none;
}
.tabs-content{
    margin: -15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tabs-link{
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-decoration: none;
    color: #49494F;
    margin-right: 50px;
}
.tabs-link.active{
    color: #F37321;
}
.tabs-card{
    margin: 15px;
    max-width: 270px;
    border-radius: 20px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: white;
}
.tabs-image{
    max-width: 100%;
}
.tabs-card-content{
    padding: 23px;
}
.tabs-title{
    margin-top: 0;
    margin-bottom: 13px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}
.tabs-description{
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #B9B9BE;
}
.tabs-info{
    display: flex;
    align-items: center;
    justify-content:space-between ;
}
.tabs-price{
    font-size: 23px;
    line-height: 23px;
    color: #4B4B51;
    display: block;
    margin-bottom: 5px;
}
.tabs-weight{
    font-size: 17px;
    line-height: 20px;
    color: #AAAAB1;
}
.button-outline{
    cursor: pointer;
    background-color: transparent;
    padding: 15px 25px;
    border: 2px solid #F37321;
    box-sizing: border-box;
    border-radius: 33px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #F37321;
}
.button-center{
    display: block;
    margin: auto;
    margin-top: 60px;
    width: 315px;
}
.cons{
    margin-top: 100px;
    margin-bottom: 200px;
}
.cons-title{
    padding-bottom: 50px;
    font-weight: 500;
    font-size: 32px;
    line-height: 23px;
}
.cons-cards{
    margin: -15px;
    display: flex;
    justify-content: space-between;
}
.cons-card{
    margin: 15px;
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    width: 270px;
    height: 296px;
    overflow: hidden;
}
.cons-image{
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.cons-card-title{
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
}
.cons-card-content{
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #49494F;
    margin: 10px 20px 20px 20px;
}
.footer{
    padding: 40px 0;
    background-color: #F6F6F6;
}
.footer-wrapper{
    display: flex;
    align-items: center;
}
.footer-logo{
    margin-right: 50px;
}
.footer-link{
    font-size: 16px;
    line-height: 23px;
    text-decoration-line: underline;
    color: black;
    margin-right: 50px;
}
.social-media-links{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.social-links{
    text-decoration: none;
    margin-left: 20px;
}